@model List<CartItem>

<a asp-page="/Cart/Index">
    <i class="fa-solid fa-shopping-bag"></i>
    <div>
        @if (Model != null && Model.Count > 0)
        {
            <span class="cart-number">@Model.Count()</span>
        }
        else
        {
            <span class="cart-number">0</span>
        }
        <span style="margin-bottom: 10px">Giỏ hàng</span>
    </div>
</a>